.table{
  color:black;
  align-items: center;
  justify-content: center;
  border-color: #000000;
  

}

.thead{
    background-color:#cbf1ff;
    
}

.john{
 background-color: blue;
 border-color: #ff0000;
}